@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import 'tailwindcss';

@theme {
  --color-background: oklch(93.2% 0.032 255.585);
  --color-primary: oklch(64.78% 0.1035 229.52);
  --color-accent: oklch(77.8% 0.1035 229.52);
  --color-muted: oklch(92.8% 0.006 264.531);
}

@layer base {
  .padding-x-container{
    @apply px-2 xl:px-10 2xl:px-40;
  }

  .padding-y-container{
    @apply py-2 xl:py-10 2xl:py-40;
  }
}
